default: &default
  adapter: mysql2
  encoding: utf8
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: root
  password:
  socket: /tmp/mysql.sock

development:
  adapter: mysql2
  encoding: utf8
  pool: 5
  username: root
  password:
  host: localhost
  database: furima-47310_development

test:
  adapter: mysql2
  encoding: utf8
  pool: 10
  username: root
  password:
  host: localhost
  database: furima-47310_test
  prepared_statements: false

production:
  <<: *default
  adapter: postgresql
  url: <%= ENV['DATABASE_URL'] %>